global
    log /dev/log local0
    log /dev/log local1 notice
    daemon

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend fe_l4_python
    bind *:8080
    mode tcp
    default_backend be_l4_python

backend be_l4_python
    mode tcp
    balance roundrobin
    server srv1 127.0.0.1:8081 check
    server srv2 127.0.0.1:8082 check
# -------------------------
# Task 2: L7 (HTTP) + weights + only for example.local
# -------------------------

defaults
    log global
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend fe_l7_example
    bind *:80
    mode http

    acl host_example hdr(host) -i example.local
    use_backend be_example_local if host_example
    default_backend be_not_example

backend be_example_local
    mode http
    balance roundrobin
    server s1 127.0.0.1:8081 weight 2 check
    server s2 127.0.0.1:8082 weight 3 check
    server s3 127.0.0.1:8083 weight 4 check

backend be_not_example
    mode http
    http-request return status 403 content-type text/plain lf-string "Forbidden: use Host example.local\n"
